@use '../variables' as *;

.form {
    width: 538px;
    padding-top: 5.2rem;

    @media (max-width: 1280px) {
        padding-top: 0;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 4.6rem;
        margin-top: 8.5rem;
        
        @media (max-width: 768px) {
            flex-direction: column;
            margin-top: 2rem;
            gap: 2rem;
        }
    }

    &__btn {
        border: 1px solid $color-beige;
        border-radius: 2rem;
        padding: 1.2rem 3.7rem;
        background: none;
        font-size: $text-12;
        color: $color-beige;
        cursor: pointer;
        transition: $transition;
        white-space: nowrap;

        &:hover {
        background: $color-beige;
        color: $color-primary;
        }
    }

    &__policy {
        font-size: $text-13;
        max-width: 16rem;
        letter-spacing: .6px;

        a {
        color: $color-pink;
        text-decoration: underline;
        }
    }
}