@use '../variables' as *;
  
.range {
    margin-bottom: 1.95rem;

    &__label {
        display: block;
        font-size: $text-14;
    }

    input {
        width: 100%;
        appearance: none;
        height: 2px;
        outline: none;
        cursor: pointer;
        transition: $transition;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 13px;
            height: 13px;
            background: $color-beige-warm;
            border-radius: 50%;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 0.8rem;
            height: 0.8rem;
            background: $color-beige-warm;
            border-radius: 50%;
            cursor: pointer;
            border: none;
        }
    }

    &__legend {
        display: flex;
        justify-content: space-between;
        font-size: $text-9;
    }
}