@use '../variables' as *;

.request {
    display: flex;
    flex-direction: column;
    background: $color-primary;
    color: $color-beige;
    min-height: 100vh;
    padding: 3.5rem 5.38rem 5.6rem;

    @media (max-width: 1280px) {
        gap: 3rem;
    }
    @media (max-width: 768px) {
        padding: 2rem;
    }
    @media (max-width: 540px) {
        padding: 1rem;
    }
    

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        flex-grow: 1;

        @media (max-width: 1280px) {
            flex-direction: column;
        }
        @media (max-width: 768px) {
            gap: 2rem;
            flex-grow: 0;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 3.3rem;
        width: 477px;

        @media (max-width: 768px) {
            width: 100%;
            gap: 2rem;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 24.1rem;

        @media (max-width: 1680px) {
            padding-right: 0;
        }
    }
    
    &__footer {
        width: 477px;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        font-size: $text-12;
        letter-spacing: .6px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__title {
        font-size: $text-66;
        line-height: 1.1;
        font-family: $Ghea-Mariam;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    &__desc {
        font-size: $text-14;
        letter-spacing: .8px;
    }

    &__copyright {
        color: $color-pink;
    }

    &__policy {
        transition: color $transition;
        &:hover {
            color: $color-pink;
        }
    }

    &__logo {
        width: 12.2rem;
        height: 3.2rem;
        margin-top: 2.3rem;

        svg {
            height: 100%;
            width: 100%;
        }
    }
  }