@font-face {
    font-family: 'Ghea Grapalat';
    src: url('../assets/fonts/ghea-grapalat.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ghea Mariam';
    src: url('../assets/fonts/ghea-mariam.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}