//colors
$color-primary: #21354B;
$color-beige: #EEEBE6;
$color-beige-warm: #B6A16B;
$color-grey: #D9D9D9;

$color-blue: #5BAAF9;
$color-green: #97BB31;
$color-pink: #FF69B4;

$color-red: #ff0000;


//fonts
$GheaGrapalat: 'Ghea Grapalat', sans-serif;
$Ghea-Mariam: 'Ghea Mariam', sans-serif;

//font-size
$mainFontSize: 1em;
$text-9: 0.5625rem;   // 9px
$text-12: 0.75rem;   // 12px
$text-13: 0.8125rem; // 13px
$text-14: 0.875rem;  // 14px
$text-16: 1rem;      // 16px
$text-66: 4.125rem;  // 66px

//transition
$transition: .3s ease;